.wrapper{
  margin: 30px 100px;
}
.logo {
  width: 180px;
}

button{
  width: 141px;
  height: 44px;
  padding: 10px, 16px, 10px, 16px;
  border-radius: 9px;
  gap: 8px;
  background: #55A932;
  color: white;
  border: none;
}
.title_main h2 {
  font-size: 20px;
  color: #222;
  font-weight: 600;
  line-height: 32px;
}
