.wrapper {
  margin: 24px 100px;
}
.logo {
  width: 180px;
}
.excel-btn {
  width: 141px;
  height: 44px;
  padding: 10px, 16px, 10px, 16px;
  border-radius: 9px;
  gap: 8px;
  background: #55a932;
  color: white;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}
.excel-btn.disabled {
  cursor: initial;
}
.excel-icon {
  margin-right: 12px;
}
