.wrapper {
  margin: 30px 100px;
  color: #222 !important;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 0.3px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title_main {
  margin-bottom: 24px;
}
.title_main h2 {
  font-size: 20px;
  color: #222;
  font-weight: 600;
  line-height: 32px;
  font-family: sans-serif; //san-francisco olmalidir
}

.float-label {
  position: relative;
}

.label {
  font-size: 14px;
  color: #999;
  font-weight: 400;
  position: absolute;
  pointer-events: none;
  top: 35px;
  transition: 0.2s ease all;
}

.label-float {
  font-size: 10px;
}
.date-select-pagination {
  display: flex;
  justify-content: space-between;
}

.date_select {
  display: flex;
  justify-content: space-between;
  width: 380px;
  gap: 12px;
}

.date_time {
  width: 204px;
  height: 56px;
  padding: 8px, 12px, 8px, 12px;
}

.datepicker-head {
  background-color: #ff6400;
}
.pagination-controls {
  display: flex;
  align-items: center;
  // .li {
  //   background-color: #a9a9a952;
  //   width: 50px;
  //   height: 50px;
  //   text-align: center;
  //   padding: 10px;
  // }
}

.pageSize-select {
  width: 130px;
}

.table-wrapper {
  border-radius: 10px !important;
}

.filterIcon {
  width: 12px;
  cursor: pointer;
}
h1 {
  font-weight: bold;
  color: #575353;
  font-size: 30px;
}

table th {
  font-size: 17px;
  color: #575353 !important;
  font-weight: bold !important;
  width: 413.33px;
  height: 64px;
  background: #e2e2e2;
  &:first-child {
    border-top-left-radius: 10px;
  }

  &:last-child {
    border-top-right-radius: 10px;
  }
}

.table-rows tr {
  color: #575353 !important;
  font-weight: bold !important;
  width: 413.33px;
  height: 64px;
}

thead tr th {
  font-size: 12px;
  color: #575353 !important;
  font-weight: 400 !important;
  font-family: sans-serif; //san-francisco olmalidir
  line-height: 20px;
}

.table-rows td {
  font-size: 12px;
  color: #575353 !important;
  font-weight: 400 !important;
  font-family: sans-serif; //san-francisco olmalidir
  line-height: 20px;
}

.table-rows tr:nth-child(-n + 3) td,
.table-rows tr:nth-child(-n + 3):hover td {
  background-color: rgba(255, 100, 0, 0.1);
  border-bottom: 1px solid #e2e2e2;
}
