<div class="dialog">
  <div class="dialog-content">
    <h2>Add columns</h2>

    <!-- <button (click)="close()">
      <i class="fa-solid fa-xmark"></i>
    </button> -->
    <!-- <mat-icon fontSet="material-icons">face</mat-icon> -->
    <div class="colCheckbox" *ngFor="let column of modalColumns">
      {{ column.label }}
      <input
        type="checkbox"
        id="checkbox_{{ column.key }}"
        [(ngModel)]="column.checked"
        [value]="column"
        hidden
      />
      <label for="checkbox_{{ column.key }}" class="customCheckbox"></label>
    </div>
  </div>

  <div class="buttons">
    <button
      class="cancelBtn btns"
      mat-button
      mat-dialog-close
      (click)="closeModal()"
    >
      Cancel
    </button>
    <button
      class="addBtn btns"
      mat-button
      mat-dialog
      (click)="addSelectedColumn()"
    >
      Add
    </button>
  </div>
</div>
