<table class="table mt-4">
  <thead>
    <tr>
      <th scope="col">Full Name</th>
      <th scope="col">Telephone</th>
      <th scope="col">Merchant Name</th>
      <th scope="col">Decline Result</th>
      <th scope="col">Amount</th>
      <th scope="col">ExtRid</th>
      <th scope="col">Entry Mode</th>
      <th scope="col">Currency</th>
      <th scope="col">Available balance</th>
      <th scope="col"><img src="/assets/icons/add-more.svg" alt=""></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td></td>
    </tr>
    <tr>
      <th>1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td></td>
    </tr>      <tr>
      <th>1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td></td>
    </tr>      <tr>
      <th>1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td></td>
    </tr>
  </tbody>
</table>
