<ng-container *ngIf="loading; else contentTemplateRef">
  <app-loader></app-loader>
</ng-container>
<ng-template #contentTemplateRef>
  <div class="wrapper">
    <div class="title_main">
      <h2 class="mt-5">Decline Detail</h2>
    </div>
    <div class="date-select-pagination">
      <div className="date-time d-flex align-items-center position-relative">
        <div class="date_select">
          <mat-form-field>
            <mat-label class="label-float">Form date</mat-label>
            <mat-select [(ngModel)]="selectedTime">
              <mat-option value="5">5 minutes</mat-option>
              <mat-option value="15">15 minutes</mat-option>
              <mat-option value="30">30 minutes</mat-option>
              <mat-option value="60">1 hours</mat-option>
              <mat-option value="180">3 hours</mat-option>
              <mat-option value="360">6 hours</mat-option>
              <mat-option value="720">12 hours</mat-option>
              <mat-option value="1440">24 hours</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="col-xs-12 col-12 col-md-4 form-group mb-3 date_time">
            <mat-form-field class="example-form-field">
              <mat-label>Date</mat-label>
              <input
                matInput
                [matDatepicker]="datepicker"
                [(ngModel)]="selectedDate"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="datepicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #datepicker> </mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="pagination-controls">
        <pagination-controls
          (pageChange)="onPageChange($event)"
          previousLabel=""
          nextLabel=""
        ></pagination-controls>
        <div class="mat-select-container">
          <mat-form-field class="pageSize-select">
            <mat-label *ngIf="itemsPerPage === 10">10 / page</mat-label>
            <mat-label *ngIf="itemsPerPage === 20">20 / page</mat-label>
            <mat-label *ngIf="itemsPerPage === 30">30 / page</mat-label>
            <mat-label *ngIf="itemsPerPage === 50">50 / page</mat-label>
            <mat-label *ngIf="itemsPerPage === 100">100 / page</mat-label>

            <mat-select
              [(value)]="itemsPerPage"
              (selectionChange)="updateTableData($event.value)"
            >
              <mat-option value="10">10 / page</mat-option>
              <mat-option value="20">20 / page</mat-option>
              <mat-option value="30">30 / page</mat-option>
              <mat-option value="50">50 / page</mat-option>
              <mat-option value="100">100 / page</mat-option>
              <button
                style="margin-left: 10px"
                mat-button
                (click)="showAllItems()"
              >
                All item
              </button>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <table class="table mt-4">
      <thead>
        <tr>
          <th scope="col" *ngFor="let column of displayedColumns">
            {{ column.label }}
          </th>
          <th scope="col">
            <button class="more-column" mat-menu-item (click)="openModal()">
              <img src="/assets/icons/add-more.svg" alt="" />
            </button>
          </th>
        </tr>
      </thead>
      <tbody class="table-rows">
        <tr
          *ngFor="
            let data of tableData
              | paginate: { itemsPerPage, currentPage: p, totalItems }
          "
        >
          <td *ngFor="let column of displayedColumns">
            {{ data[column.key] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>
